<mat-progress-spinner [diameter]="20"
                                      color="warn"
                                      [mode]="'indeterminate'"
                                      class="spinner"></mat-progress-spinner>

<div class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
              (click)="toggleSidebar('simple-left-sidebar-4')">
          <mat-icon>menu</mat-icon>
      </button>

      <div>
          <h2>{{'MASTER.TITLE' | translate}}</h2>
      </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

      <!-- SIDEBAR -->
      <fuse-sidebar class="sidebar" name="simple-left-sidebar-4" position="left" lockedOpen="gt-md">

          <!-- SIDEBAR CONTENT -->
          <div class="content p-24" fusePerfectScrollbar>
            <div class="demo-sidebar">
              <mat-list>
                  <h3 matSubheader>{{'MASTER.TITLE_SIDEBAR' | translate}}</h3>
                          
                  <mat-list-item (click)="toCompany()">
                    <span>{{'MASTER.COMPANY' | translate}}</span>
                  </mat-list-item>
                          
                  <mat-list-item (click)="toArea()">
                    <span>{{'MASTER.AREA' | translate}}</span>
                  </mat-list-item>
                  
                  <mat-list-item (click)="toSubarea()">
                    <span>{{'MASTER.SUBAREA' | translate}}</span>
                  </mat-list-item>

                  <mat-list-item (click)="toCategory()">
                    <span>{{'MASTER.CATEGORY' | translate}}</span>
                  </mat-list-item>


                  <mat-divider></mat-divider>
          
              </mat-list>
            </div>
          </div>
          <!-- / SIDEBAR CONTENT -->

      </fuse-sidebar>
      <!-- / SIDEBAR -->

      <!-- CENTER -->
      <div class="center p-24" fusePerfectScrollbar>

          <!-- CONTENT -->
          <div class="content p-24">

            <router-outlet></router-outlet> 

          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CENTER -->

  </div>
  <!-- / CONTENT -->

</div>
