<h1 mat-dialog-title>Area Form</h1>
<div mat-dialog-content>
    <form class="evaluation-form" novalidate [formGroup]="form">
        <div fxLayout="column" fxFlex fxLayoutGap="5px" fxFlexFill>

            <mat-form-field fxFlex appearance="outline">
              <mat-label>Company</mat-label>
              <mat-select formControlName="companie_id" required>
                  <mat-select-filter [array]="listCompany" (filteredReturn)="filteredCompany = $event"
                      [displayMember]="'description'"></mat-select-filter>
  
                  <mat-option *ngFor="let rs of filteredCompany" [value]="rs.id">
                      {{rs.description}}
                  </mat-option>
              </mat-select>
              
              <mat-error *ngIf="form.get('companie_id').hasError('required')">
                Company is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" required>

                <mat-error *ngIf="form.get('name').hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description" required>

                <mat-error *ngIf="form.get('description').hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" *ngIf="isEdit">
                <mat-label>Created at</mat-label>
                <input matInput [matDatepicker]="startDate" formControlName='created_at' readonly>
                <mat-datepicker-toggle matSuffix [for]="startDate" disabled></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" *ngIf="isEdit">
                <mat-label>Deleted at</mat-label>
                <input matInput [matDatepicker]="startDate" formControlName='deleted_at' readonly>
                <mat-datepicker-toggle matSuffix [for]="startDate" disabled></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%">
        <button class="btn-small" mat-flat-button color="warn" (click)="null" mat-button mat-dialog-close [disabled]="isLoading">
            <mat-icon>close</mat-icon><span class="btn-label"> CANCEL</span>
        </button>

        <button *ngIf="!isEdit" class="btn-small" mat-flat-button color="accent" (click)="onSubmit()"
            [disabled]="form.invalid||isLoading">
            <mat-icon>send</mat-icon><span class="btn-label"> SUBMIT</span>
        </button>

        <button *ngIf="isEdit" class="btn-small" mat-flat-button color="accent" (click)="onUpdate()"
            [disabled]="form.invalid || form.pristine||isLoading">
            <mat-icon>send</mat-icon><span class="btn-label"> UPDATE</span>
        </button>
    </div>
</div>